<a href="https://colab.research.google.com/github/1oneweeek/DALC_Scala/blob/main/%EA%B8%B0%EC%B4%88%EB%B0%98%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수

In [1]:
name = "(이름을 적어주세요)"
print(name)

(이름을 적어주세요)

In [2]:
abc = "abc"
abc_123 = 123
Abc_123 = 321
print(abc)
print(abc_123)
print(Abc_123)

abc
123
321

자료형

In [3]:
# 불리언형 자료형

b = True
print(b)
print(type(b))

True
<class 'bool'>

In [7]:
# 정수형 자료형

# 10진수
i = 10
print(i)
print(type(i))

# 2진수
b =0b010
print(b)

# 8진수
o = 0o130
print(o)

# 16진수
h = 0xABC
print(h)

10
<class 'int'>
2
88
2748

In [13]:
# 실수형 자료형

# 고정소수점
f = 12.34
print(type(f))

f1 = 0.123
f2 = .123

# 부동소수점
e = 1234e-2
print(e)
e1 = 123e-3
print(e1)

<class 'float'>
12.34
0.123

In [14]:
# 복소수형 자료형
c = 1 +23j
print(c)

(1+23j)

In [15]:
# 문자열 자료형

string = "(이름을 적어주세요)"
print(type(string))

<class 'str'>

In [17]:
# 리스트 자료형

I = [1, 2, 3]
print(type(I))

L123 = [1, "one", 2, "two"]
print(L123)

<class 'list'>
[1, 'one', 2, 'two']

In [18]:
# 튜플 자료형

t = (1, 2, 3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [19]:
# 범위 자료형
r = range(10)
print(type(r))

<class 'range'>

In [20]:
# 집합 자료형
s = {2, 3, 1}
print(type(s))

<class 'set'>

In [21]:
# 딕셔너리 자료형
d = { 1: 'One', 2: 'Two'}
print(d)
print(type(d))

{1: 'One', 2: 'Two'}
<class 'dict'>

In [22]:
# 바이트 시퀀스형
byte = b'\x00'
print(byte)
print(type(byte))

byte1 = b"hello"
print(byte1)
print(type(byte1))

ba = bytearray(byte)
print(ba)
print(type(ba))

#자료에 대한 메모리값 보기
mv = memoryview(ba)
print(mv)
print(type(mv))

b'\x00'
<class 'bytes'>
b'hello'
<class 'bytes'>
bytearray(b'\x00')
<class 'bytearray'>
<memory at 0x7f4e8e0a4a10>
<class 'memoryview'>

자료형 변환

In [24]:
# bool

print(bool(True))
print(bool(False))
print(bool("메롱"))
print(bool((1, 2, 3)))
print(bool({4, 5}))
print(bool({1 : 'One'}))

True
False
True
True
True
True

In [26]:
# int
a1 = "10"
int(a1)
b = int(a1)
print(type(b))

<class 'int'>

In [28]:
# float
a2 = 1
print(type(a2))
c = float(a2)
print(type(c))

<class 'int'>
<class 'float'>

In [29]:
# complex
print(complex(True))
print(complex(False))
print(complex(10))
print(complex(0b010))
print(complex(12.34))
print(complex(1234e-2))
print(complex("10"))

(1+0j)
0j
(10+0j)
(2+0j)
(12.34+0j)
(12.34+0j)
(10+0j)

In [31]:
# str
a3 = 111
d = str(a3)
d

'111'

In [32]:
# eval
print("1+2")
print(eval("1+2"))

1+2
3

In [36]:
# tuple
e = "DALC"
f = tuple(e)
print(f)
print(type(f))
print(tuple([1,2,3]))
print(tuple((1,2,3)))

('D', 'A', 'L', 'C')
<class 'tuple'>
(1, 2, 3)
(1, 2, 3)

In [39]:
# list
e = "DALC"
g = list(e)
print(g)
print(type(g))
print(list([1,2,3]))
print(list((1,2,3)))

['D', 'A', 'L', 'C']
<class 'list'>
[1, 2, 3]
[1, 2, 3]

In [40]:
# set
print(set({1,2,3}))
print(set({1:'one', 2: 'two'}))

{1, 2, 3}
{1, 2}

In [41]:
# frozenset()
print(frozenset('DALC'))
print(frozenset([1,2,3]))

frozenset({'C', 'D', 'L', 'A'})
frozenset({1, 2, 3})

In [42]:
# dict()
print(dict({1:'one', 2: 'two'}))

{1: 'one', 2: 'two'}

In [43]:
# chr 정수 -> ASCII로
print(chr(97))
print(chr(65))
print(chr(122))
print(chr(90))

a
A
z
Z

In [45]:
# ord ASCII -> 정수로
print(ord('a'))
print(ord('A'))
print(ord('z'))
print(ord('Z'))

97
65
122
90

In [46]:
# bin 2진수로
print(bin(True))
print(bin(False))
print(bin(10))
print(bin(0b010))

0b1
0b0
0b1010
0b10

In [47]:
# oct 8진수로
print(oct(True))
print(oct(False))
print(oct(10))
print(oct(0b010))

0o1
0o0
0o12
0o2

In [48]:
# hex 16진수로
print(hex(True))
print(hex(False))
print(hex(10))
print(hex(0b010))

0x1
0x0
0xa
0x2

In [49]:
# bytes 바이트로
print(bytes(True))
print(bytes([1,2,3]))

b'\x00'
b'\x01\x02\x03'

In [50]:
# bytearray

ba = bytearray(b'hello')
ba[0] = ord('H')
print(ba)

ba1 = bytearray([1,2,3])
print(ba)
ba1[0] = 4
print(ba1)
print(type(ba1))

bytearray(b'Hello')
bytearray(b'Hello')
bytearray(b'\x04\x02\x03')
<class 'bytearray'>

In [53]:
# memoryview

ba = bytearray(b'hello')
mv = memoryview(ba)
ba[0] = 72
print(ba)

bytearray(b'Hello')

자료형 계산

In [55]:
# min
print(min(1, 2, 3))
print(min([3, 4, 5]))

1
3

In [59]:
# max
print(max(1, 2, 3))
print(max([3, 4, 5]))

3
5

In [65]:
# sum
print(sum((1, 2, 3)))
print(sum([3, 4, 5]))

6
12

In [67]:
# divmod
print(divmod(10, 5))
print(divmod(3, 5))

(2, 0)
(0, 3)

In [68]:
# abs
abs(-4)

4

In [69]:
# pow
print(pow(2, 3))
print(pow(10, 4))

8
10000

In [71]:
# len
len("안녕하세요")
len(range(0, 10))
len(range(1, 11))

10

In [79]:
# round

round(3.14)
round(3.141527, 2)

3.14

In [78]:
# all

print(all((1,2,3)))
print(all(()))

print(all((False, True, False)))
print(all((True, True, True)))
print(all((False, False, False)))

True
True
False
True
False

In [80]:
# any
print(any((1,2,3)))
print(any(()))

print(any((False, True, False))) # true가 하나라도 있으니 true로 반환되었음.
print(any((False, False, False)))

True
False
True
False

연산자

In [84]:
# 산술 연산자
cal1 = 3
cal2 = 5
print(cal1 + cal2)
print(cal1 - cal2)
print(cal1 * cal2)
print(cal1 ** cal2)
print(cal1 / cal2)
print(cal1 // cal2)
print(cal1 % cal2)

8
-2
15
243
0.6
0
3

In [83]:
# 비교 연산자
cal1 = 3
cal2 = 5

print(cal1 == cal2)
print(cal1 != cal2)
print(cal1 > cal2)
print(cal1 < cal2)
print(cal1 >= cal2)
print(cal1 <= cal2)

False
True
False
True
False
True

In [89]:
# 할당 연산자
cal1 = 3
cal2 = 5
cal3 = 7

cal3 = cal1 + cal2
cal3 += cal1
cal3 -= cal1
cal3 *= cal1
cal3 /= cal1
cal3 %= cal1
cal3 **= cal1
cal3 //= cal1

print(cal1, cal2, cal3)

3 5 2.0

In [92]:
# 비트 연산자
cal1 = 3
cal2 = 5
cal3 = 7

print(cal1 & cal2)
print(cal1 | cal2)
print(cal1 ^ cal2)
print(cal1 << cal3)
print(cal1 >> cal3)

1
7
6
384
0

In [97]:
# 논리 연산자
cal1 = 3
cal2 = 5
cal3 = 7

print(cal1 is 3 and cal2 is 5)
print(cal1 is 3 or cal2 is 4)
print(cal1 is 2 or cal2 is 3)
print(cal3 is not 7)

True
True
False
False

In [99]:
# 멤버 연산자
cal1 = 3
cal2 = 5
l_1 = [3, 4, 8]
print(cal1 in l_1)
print(cal2 not in I_1)

True
True

In [105]:
# 식별 연산자
cal1 = 3
cal2 = 5
print(type(cal1) is int)
print(cal2 is not int)

True
True

문제 풀기

In [108]:
# 다음 과목 점수의 평균을 구해서 출력하기, 조건 : 산술연산자 이용

linear_algebra = 88
statistics = 91
basic_programming = 89
science = 83

c = linear_algebra + statistics + basic_programming + science
average = c/4
print(average)

87.75