<a href="https://colab.research.google.com/github/1oneweeek/DALC_Scala/blob/main/%EC%8A%A4%ED%84%B0%EB%94%94%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# p.56 루프
sum1 = 0
for i in range(1, 10 + 1):
  sum1 += i
print(sum1)

sum2 = sum(i for i in range(1, 10 + 1))
print(sum2)

sum3 = sum(range(1, 10+1))
print(sum3)

55
55
55

In [2]:
# p.58 제네릭 프로그래밍
def are_equal(a, b):
  return a == b

are_equal(10, 10.0)

True

In [3]:
# p.60 배열 반복
foo = ['A', 'B', 'C']
for f in foo :
  print(f)

A
B
C

In [4]:
# p.61 구조체
from dataclasses import dataclass

@dataclass
class Product :
    weight: int = None
    price : float = None
apple = Product()
apple.price=10

In [5]:
# p.63 클래스
from dataclasses import dataclass

@dataclass
class Rectangle :
  width: int
  height : int
  def area(self):
    return self.width * self.height

rect = Rectangle(3, 4)
print(rect.area())

12

In [6]:
# p.80 리스트 컴프리헨션

list(map(lambda x: x + 10, [1, 2, 3]))

[n * 2 for n in range(1, 10+1) if n % 2 == 1]

[2, 6, 10, 14, 18]

In [9]:
# p. 81 제너레이터

def generator():
  yield 1
  yield 'string'
  yield True

g = generator()
g

In [10]:
next(g)

1

In [11]:
next(g)

'string'

In [12]:
next(g)

True

In [18]:
# p.83 range

list(range(5))
range(5)
type(range(5))
for i in range(5) :
  print(i, end=' ')

0 1 2 3 4

In [19]:
a = [n for n in range(1000000)]
b = range(1000000)

In [22]:
len(a)
len(b)
len(a) == len(b)

True

In [26]:
a
b
type(b)

range

In [28]:
#p. 85 enumerate

a = ['a1', 'b2', 'c3']
for i in range(len(a)):
  print(i, a[i])
i = 0
for v in a :
  print(i, v)
  i += 1

0 a1
1 b2
2 c3
0 a1
1 b2
2 c3

In [31]:
# p. 86 나눗셈 연산자

print(5/3)  
print(5//3)
print(5%3)

1.6666666666666667
1
2

In [38]:
# p. 87 print

print('A1', 'B2')
print('A1', 'B2', sep=',')
# 줄바꿈 end= ' ' 사용
print('aa', end=' ')
print('bb')

a = ['A', 'B']
print(' '.join(a))

idx = 1
fruit = 'Apple'
print('{}: {}'.format(idx + 1, fruit))
print(f'{idx +1}: {fruit}')

A1 B2
A1,B2
aa bb
A B
2: Apple
2: Apple

In [3]:
# p.89 pass

class MyClass(object):
  def method_a(self):
      pass

  def method_b(self):
      print("Method B")

C = MyClass()
print(C)

<__main__.MyClass object at 0x7f34267e9950>

In [ ]:
# p.90 locals

import pprint
pprint.pprint(locals())

In [ ]:
# p.93 변수명과 주석

def numMathcingSubseq(self, S: str, words: List[str]) -> int:
    matched_count = 0

    for word in words:
      pos = 0
      for i in range(len(word)):
        # Find matching position for each character.
        found_pos = S[pos:].find(word[i])
        if found_pos<0:
          matched_count -= 1
          break
        else: # If found, take step position forward.
          pos += found_pos +1
      matched_count += 1

    return matched_count

In [ ]:
# p.94 리스트 컴프리헨션

strls = []
str1 = "hello"
for i in range(len(str1)-1):
  if re.findall('[a-z]{2}', str1[i:i + 2].lower()):
    strls.append(str1[i:i + 2].lower())

In [ ]:
# p.100 빅오

for n in range(1, 15 +1):
  print(n, n ** 2, 2 **n)

In [12]:
# p.108 숫자

True == 1
False == 0

True

In [14]:
# p.110 집합

a = set()
a
type(a)

set

In [19]:
a = {'a', 'b', 'c'}

b = {'a':'A', 'b':'B', 'c':'C'}

c = {3, 2, 3, 5}

print(type(a))
print(type(b))
print(c)

<class 'set'>
<class 'dict'>
{2, 3, 5}

In [24]:
a = 'abc'
a = 'def'
type(a)

print(id('abc'))
print(id(a))

139862518361136
139862517505776

In [26]:
# p.116 객체

a = 10
b = a
10
id(10), id(a), id(b)

(94373157673760, 94373157673760, 94373157673760)

In [30]:
a = [1, 2, 3, 4, 5]
b = a
print(a[2])

a[2] = 4
print(a)
print(b)

3
[1, 2, 4, 4, 5]
[1, 2, 4, 4, 5]

In [36]:
# p.118 is와 ==

if a is None :
  pass

a = [1, 2, 3]
a == a
a == list(a)
a is a
a is list(a) # 값은 동일하나 list()로 한 번 더 묶어주면, 별도의 객체로 복사 되어 다른 ID를 갖게 됨.

False